<div class="container">
    <div class="topBuffer"></div>
    <div class="topBuffer"></div>
    
  <div class="content dropShadow">
    
    <div class="topSection">

      <div class="imageContainer">
          <div class="imageContainer">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="company badge">    
            </div>
      </div>
    
      <div class="nameAndLocationContainer">
        <div class="nameContainer">
            John Doe
        </div>
        <div class="locationContainer">
          Chicago, IL
        </div>
      </div>

    </div>
<hr>
    <div class="profileInfoSection">
      About Section for a Job seeker on EZHR's website. This can provide any details about carrer thus far, experience, things wanting to be experienced, and so on. 
    </div>
    <div style="text-align:left;margin-left:15px;"><h2>John Doe's Links</h2></div>
    <div class="linksSection">
      <a href="http://www.google.com" class="dropShadow linkItem">LinkedIn Profile</a>
      <a class="dropShadow linkItem">GitHub Repo</a>
      <a class="dropShadow linkItem">John Doe's Website</a>
      <a class="dropShadow linkItem">Client Testimonies</a>
    </div>
  </div>
</div>

