
<div class="container">
    <div class="topBuffer"></div>
  <div class="content">
      <div class="topBuffer"></div>
    <h1>Your Next Interview is A Search Away.</h1>
    <form #searchForm (submit)="searchForJobs()" class="searchBarContainer dropShadow" novalidate>
      <input type="text" class="searchBar" name="query" [(ngModel)]="searchQuery.query" >
      <button type="submit" class="searchButton ">Search</button>
    </form>
    <button *ngIf="isDisplayingFilters == true && results"(click)="isDisplayingFilters = false;filterModel = {};" class="searchBonusButton dropShadow">No Filters</button>
    <button *ngIf="isDisplayingFilters == false && results" (click)="isDisplayingFilters = true;" class="searchBonusButton dropShadow">Show Filters</button>
    <div *ngIf="isDisplayingFilters == true && results" class="filterSearchContainer dropShadow">
      <div>
        
        <div style="width:20%;display: inline-block;cursor: pointer" (click)="filterModel.location = null;">
            <div *ngIf="filterModel.location">{{filterModel.location}}</div>
        </div>
        
      </div>
      
        <form #filterForm="ngForm" (ngSubmit)="filterSelection()" novalidate>
           
            <div class="searchFilter">
        
                
                    <h1>filter by keywords, comma separated</h1>
                 
                <input type="text" class="searchFilterInput dropShadow" placeholder="python, C++, full time,.." #LocationFilter='ngModel' name="LocationFilter" [(ngModel)]='filterModel.location'>
             
            </div>
            <input type="submit" class="buttonFull buttonBlueMixin" value="Apply Keywords">
        </form>
        
    </div>

    
  
    <h1 *ngIf="results" >We found {{results.length}} potential jobs for that:</h1>
    <h1 [hidden]="(!results) || results.length == 0" >Search Analytics:</h1>
    <div [hidden]="(!results) || results.length == 0" class="analyticsContainer dropShadow">
        
        <div>
          <button (click)="setActiveAnalyticTab(0)" [ngClass]="activeAnalyticTab == 0 ? 'selectedTabButton' : 'unselectedTabButton' " class="buttonFifth">Job Types</button>
          <button (click)="setActiveAnalyticTab(1)" [ngClass]="activeAnalyticTab == 1 ? 'selectedTabButton' : 'unselectedTabButton' " class="buttonFifth">Experience</button>
          <button (click)="setActiveAnalyticTab(2)" [ngClass]="activeAnalyticTab == 2 ? 'selectedTabButton' : 'unselectedTabButton' " class="buttonFifth">Location</button>
          <button (click)="setActiveAnalyticTab(3)" [ngClass]="activeAnalyticTab == 3 ? 'selectedTabButton' : 'unselectedTabButton' " class="buttonFifth">Tech Skills</button>
          
      </div>

      <div [hidden]="!(activeAnalyticTab == 0)" class="analyticContainer">
        <div class='tableauPlaceholder' style='width: 800px; height: 492px;margin:auto;'>
          <object class='tableauViz' width='800' height='492' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='&#47;t&#47;ezhr' />
            <param name='name' value='ezhrBook1&#47;JobCountbyjobtype' />
            <param name='tabs' value='no' /><param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value=':original_view=yes'/>
          </object>
        </div>
      </div>


      <div [hidden]="!(activeAnalyticTab == 1)" class="analyticContainer">
        <div class='tableauPlaceholder' style='width: 800px; height: 492px;margin:auto;'>
          <object class='tableauViz' width='800' height='492' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='&#47;t&#47;ezhr' />
            <param name='name' value='ezhrBook1&#47;Sheet13' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value=':original_view=yes' />
            </object>
          </div>
      </div>


      <div [hidden]="!(activeAnalyticTab == 2)" class="analyticContainer">
        <div class='tableauPlaceholder' style='width: 800px; height: 492px;margin:auto;'>
          <object class='tableauViz' width='800' height='492' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='&#47;t&#47;ezhr' />
            <param name='name' value='ezhrBook1&#47;JOBCountbyState' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value=':original_view=yes'/>
          </object>
        </div>
      </div>

      <div [hidden]="!(activeAnalyticTab == 3)" class="analyticContainer">
          
        <div class='tableauPlaceholder' style='width: 800px; height: 492px;margin:auto;'>
          <object class='tableauViz' width='800' height='492' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> 
            <param name='embed_code_version' value='3' /> 
            <param name='site_root' value='&#47;t&#47;ezhr' />
            <param name='name' value='ezhrBook1&#47;skills' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value=':original_view=yes'/>
          </object>
        </div>


      </div>


      <div [hidden]="!(activeAnalyticTab == 4)" class="analyticContainer">
          <img src="../../../assets/images/All Salaries.png">
      </div>

    </div>
    <div *ngIf="results" class="resultsContainer">
        <app-search-result (viewListingEvent)="activateListingPopup($event)" *ngFor="let result of results" [resultData]="result" ></app-search-result>
    </div>
  </div>
</div>
<app-search-result-popup #viewListingPopup></app-search-result-popup>